.features__inner{
  padding-top: 38px;
  padding-bottom: 130px;
  text-align: center;
}

.features__text{
  padding: 0px 60px;
  margin-bottom: 81px;
}

.features__list{
  display: flex;
  justify-content: space-between;
}

.features__item{
  padding: 0px 10px;
  flex-basis: 32%;
  font-size: 16px;
}

.features__item-icon{
  margin-bottom: 26px;
}

.features__item-title{
  color: $text-dark;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 15px;
}

.features__item-text{
  line-height: 22px;
}

