.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer__inner {
  border-top: 1px solid $text-light;
  padding-top: 63px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu {
  display: flex;
}

.footer__menu-item {
  & + .footer__menu-item {
    margin-left: 36px;
  }
  font-size: 14px;
  line-height: 16px;
}

.footer__social {
  display: flex;
  font-size: 0px;
}

.footer__social-item {
  & + .footer__social-item {
    margin-left: 40px;
  }
}
